

.card{
    margin:20px auto 0 auto;
    border:none;
    
}

.card a{
    text-decoration: none;
    color: #212529;
}

.card a:hover{
    text-decoration: none;
    color: #0085A1;
}

.card .title{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.2;
    color: #212529;
    font-weight: 800;
    margin-top: 1.875rem;
    margin-bottom: 0.625rem;
}

.card .sub-header{
    font-size: 1rem;
    font-weight: 300;
    color: #212529;
    margin-top: 0;
    line-height: 1.2;
    margin-bottom: 0.625rem;
}

.card .post-brief{
    font-size: 0.8rem;
    color: #6c757d;
    margin: 2rem 0;
    margin-top: 0;
    font-style: italic;
}

.card .divider{
    height: 1px;
    background-color: #dee2e6;
    opacity: 1;
    border: 0;
}

@media (min-width: 992px){
    .card .title{
        font-size: 2rem;
    }
    .card .sub-header{
        font-size: 1.2rem;
    }
    .card .post-brief{
        font-size: 0.9rem;
    }  
}