
  .header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .header-content h1{
    font-size: 5rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    line-height: 1.2;
  }
  
  .header-content p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1;
  }

  header{
    font-size: 1.25rem;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 3rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }

  header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212529;
    opacity: 0.5;
}
  